
 header {
    display: flex; 
 }
body {
    background-color: darkred;
    
}

.product {
    font-size: 200%;
    font-style: italic;
    padding-left: 30px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.flotte {
    font-size: 150%;
    font-style: italic;
    float:right;
    text-decoration-line: underline;
     text-decoration-style: double;
    color:  antiquewhite;
    
}

h1, h2 {
    text-align: center;
    font-style: italic;
    color: green;
    font-size: 400%;
    width: 30%;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}
li, table {
    width: 90%;
    height: 50%;
    border: 2px darkgreen solid;
    border-radius: 40px;
    font-style: italic;
    padding: 6px;
    text-align: left;
    list-style-type: none;
    background-color:navajowhite
}
#cook {
    padding-left: 115px;
}
ul {
    width: 80%;
}

footer {
    font-size: 100%;
    text-align: center;
    font-style: italic;
}
.name {
    text-decoration: underline;
    font-weight: bold;
    font-size: 120%;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 0.7rem;
    float: right;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    text-decoration: none;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.validate {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.4rem;
    display: block;
  margin : auto;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(85,107,47);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.validate:hover {
    background-color: rgba(107,142,35);
}

.validate:active {
    box-shadow: inset -2px -2px 3px rgba(85,107,47),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.taille {
    float: right;
    padding-right: 30px;
    font-size: 107%;
}
.tailles {
    float: right;
}
a {
    text-decoration: none ;
    font-weight: bold;
}
.gerant {
    text-decoration: underline;
}

.btnApparence {
    -webkit-appearance: push-button;
    box-sizing: border-box;
    
}

label {
    display: block;
    width: 150px;
    float: left;
}
